
.text-box>h3:first-child{
    color: pink;
}

p[id=greycol]{
    color: grey;
}

div:nth-child(5) {
    color: red;
}

p:nth-child(7) {
    color: green;
}

.yellow {
    color: yellow;
}


.lesson>li:first-child {
color: lightblue;
}

.lesson>li:nth-child(2):hover {
color: pink;
background-color: blue;

}

.lesson>li:nth-child(3) {
color: rgb(200, 46, 214);
background-color: Black;
text-decoration: solid;


}

.lesson>li:last-child {
background-color: Black;
text-decoration: solid;
color: blue;
cursor: pointer;
}



.day2>li:first-child {
color: rgb(4, 58, 4);
background-color: grey;
}

.day2>li:nth-child(2) {
    font-weight: bold;
    color: darkred;
}

.day2>li:nth-child(3) {
    background-color: darkred;
    color: white;
    text-align: center;
    font-size: 25px;
}

.day2>li:last-child {
color: darkblue;
background-color: rgb(239, 166, 248);
text-decoration: line-through;
height: 35px;
text-align: right;
}


.day3>li:first-child {
background-color: blue;
padding: 2px 7px;
border-radius: 20px;
border: 5px solid darkred;
}

.day3>li:nth-child(2):hover {
    background-color: blueviolet;
    border-radius: 25px;
    border: 7px solid darkblue;
    text-align: center;
}

.day3>li:nth-child(3):hover {
   background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: rgb(226, 122, 230);
}

.day3>li:last-child {
    color: rgb(255, 255, 0);
    border: 6px solid rgb(219, 153, 30);
    text-align: center;
}

.day4>li:first-child {
color: lightpink;
background-color: Black;
text-decoration: solid;
}

.day4>li:nth-child(2):hover {
    color: rgb(197, 32, 202);
 background-color: rgb(43, 226, 52);
    border-radius: 25px;
    border: 7px solid rgb(139, 0, 0);
    text-align: center;

}

.day4>li:nth-child(3) {
    background-color: rgb(42, 19, 85);
padding: 2px 7px;
border-radius: 20px;
border: 5px solid rgb(8, 17, 138);
color: white;
text-align: center;
}

.day4>li:last-child {
    border: bolder;
    color: rgb(54, 173, 219);
}

.day5>li:first-child {
background-color: darkviolet;
text-align: right;
}

.day5>li:nth-child(2):hover {
background-color: red;
color: black;
text-decoration: none;
}

.day5>li:nth-child(3) {
padding: 2px 7px;
border-radius: 20px;
border: 5px solid rgb(44, 202, 115);
color: rgb(197, 195, 196);
text-align: center;
background-color: brown;
}

.day5>li:last-child {
    font-size: x-large;
    color: green;
}